<div class="header-spacer" style="height: calc(var(--header-height, 120px) + var(--announcement-bar-height, 0px));"></div>

{% schema %}
{
  "name": "Header Spacer",
  "class": "header-spacer-section",
  "settings": []
}
{% endschema %}