.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  position: relative;
  color: rgb(var(--color-foreground));
}

.list-menu__item--active::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2rem;
  height: 0.2rem;
  background-color: rgb(var(--color-foreground));
  border-radius: 0.1rem;
}

.list-menu__item--active:hover {
  text-decoration: none;
}

.list-menu__item:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}
